# RetailERP System - Backend Requirements
# ========================================

# Django Framework
Django==5.0.6
djangorestframework==3.15.1
django-cors-headers==4.3.1

# Database
# psycopg2-binary==2.9.9  # uncomment for PostgreSQL

# Utilities
python-decouple==3.8
Pillow==10.3.0

# Development
black==24.4.2
flake8==7.0.0